<!--Titre Compétences-->
<div class="container content-xs">
    <div class="headline-center">
        <h2>Compétences</h2>
    </div>
</div>

<!--Compétences-->
<div class="container content-xs">
    <div class="row margin-bottom-30">

        {% if famillecompetence is defined %}
            {% for fc in famillecompetence %}
                <div class="col-md-6 md-margin-bottom-40">
                    <div class="headline">
                        <h2>{{ fc.libelle|capitalize }}</h2>
                    </div>
                    {% for competence in fc.competences %}
                        {#{{ dump(competence) }}#}
                        {% include("CvBundle:Competence:notation.competence.html.twig") %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<!--Fin Compétences-->