<div>
    <h4 class="pull-left">{{ competence.libelle|capitalize }}</h4>
    {% if competence.note == 0 %}
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
    {% endif %}

    {% if competence.note == 0.5 %}
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-half-o color-yellow pull-right margin-top-5"></i>
    {% endif %}

    {% if competence.note == 1 %}
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star color-yellow pull-right margin-top-5"></i>
    {% endif %}

    {% if competence.note == 1.5 %}
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-half-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star color-yellow pull-right margin-top-5"></i>
    {% endif %}

    {% if competence.note == 2 %}
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star color-yellow pull-right margin-top-5"></i>
    {% endif %}

    {% if competence.note == 2.5 %}
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-half-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star color-yellow pull-right margin-top-5"></i>
    {% endif %}

    {% if competence.note == 3 %}
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star color-yellow pull-right margin-top-5"></i>
    {% endif %}

    {% if competence.note == 3.5 %}
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star-half-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>
    {% endif %}

    {% if competence.note == 4 %}
        <i class="fa fa-lg fa-star-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>


    {% endif %}

    {% if competence.note == 4.5 %}
        <i class="fa fa-lg fa-star-half-o color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>
    {% endif %}

    {% if competence.note == 5 %}
        <i class="fa fa-lg fa-star color-yellow pull-right margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>
        <i class="fa fa-lg fa-star pull-right color-yellow margin-top-5"></i>
    {% endif %}

    <div class="clear-both"></div>
</div>